.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  & .pcHeader {
  }
  & .mobileHeader {
  }

  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
    color: #fff;
  }
}
