.pageWrap {
  min-height: calc(100vh - 112px);
  margin-top: 64px;
  padding: 10px 20px;
  background-color: #eee;
  .page {
    background-color: #ffffff;
    padding: 0 20px 20px;
    .title {
      padding: 15px 20px 0;
      font-size: 30px;
      line-height: 34px;
      font-weight: 700;
    }
    .goBottom {
      position: fixed;
      border-radius: 4px;
      align-items: center;
      right: 40px;
      top: 16px;
      z-index: 999;
      text-align: center;
    }
  }
}
